

.containerForButtons{
    
    margin-top: 0%;
    margin-left:25.5% ;
    top:0%;
    background-color:none;
    position: relative;
    padding: 1%;
    table-layout: -1;
   
}

.containerForButtons button {
    margin-top: 4%;
    margin-bottom: -4%;
    font-size: 100%;
    width: 15%;
    height: 35px;
    position: relative;
    display: inline;

}
.buttonHome{
    background-color: grey;
    border: 1px solid black;
}
.buttonHome:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.buttonProducts{
    background-color: grey;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}
.buttonProducts:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.buttonContactUs1{
    background-color: grey;
    border: 1px solid black;
}
.buttonContactUs1:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}

.logo {
    position: relative;
     margin: -4%;
     margin-right: 1%;
     width: 15%;
     height: 40%;
     
}

#acc{
    font-size: x-large;
    margin:2%;
}
#cart{
    font-size: x-large;
}
.background {
    position: relative;
    table-layout:0;
    height: 55%;
    width: 101%;
    background-position: 25%;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)) ,url('wacom-stylus-tf.jpg');
    table-layout: 1;
    margin-top:-1%;
    margin-top:-1%;
    margin-left:-1%;
    
    background-size:100% ;
    background-repeat:repeat;
    
   
    
}

.button{
    
    border:1px solid rgb(117, 115, 115);
    background-color: grey;
}
.space{
    opacity:0;
    margin: 7%;
    margin-bottom: 0%;
    
}

.backgroundItems{
    
    background-color: #C7DCE7 ;
    padding-bottom: 5%;
    text-align: center;
}


.titleItems{
    padding:5%;
    
}
.imageDiv{
    width: 100%;
    grid-area: header;
    padding: 5% 0px;
    height: 100%;

}
.free{
    grid-area:free;
}
.content{
    text-align: center;
    display: grid;
    grid-template-columns: 15% 25% 40% 10%;
    grid-template-areas:
        'free header main main . . .'
        'free header footer footer minus count plus'
        'free header footer footer minus count plus';
    gap: 10px;
    padding: 10px;
}
.H1Products{
    grid-area: main;
}
.H3Products{
    grid-area: footer;
}
.plusCount{
    grid-area: plus ;
}
.minusCount{
    grid-area: minus;
}
.count{
    grid-area: count;
}
.order{
    margin-top: 5%;
}
.contactUs1{
    display: grid;
    padding: 5%;
    position: relative;
    text-align: center;
    justify-content: center;
   
}
.contactUs2{
    display:grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
    
    
   
}
.gridContactUs{
    background-color: rgba(32, 32, 243, 0.697);
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-areas: 
    "par par";
}
.contactUsH2{
    font-size: large;
    margin: 10% ;
}
.inputName{
    text-align: center;
    margin:2%;
    margin-left: 20%;
    margin-right: 20%;
}
.inputEmail{
    text-align: center;
    margin:10%;
}
.inputTypeHere{
    text-align: center;
    margin:2%;
    height: 98%;
    margin-bottom: 32%;
}
.buttonContactUs{
    
    margin: 10%;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    background-color: rgb(69, 69, 69);
    color:white;
}
.contactUs1 input{
    background-color: rgba(173, 173, 173, 0.978);
    
}
.buttonContactUs:hover {
    transition: 0.4s;
    background-color: white;
    color: black;
}
.imgContactUs2{
    position: relative;
    width: 20%;
    margin: 0%;
    
}
.contactUsButtonHome{
    width: auto;
    margin:1% ;
    font-size: small;
    background-color: grey;
    border: 1px solid black;
}
.contactUsButtonHome:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.contactUsButtonProducts{
    width: auto;
    margin:1% ;
    font-size: small;
    background-color: grey;
    border: 1px solid black;
}
.contactUsButtonProducts:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.contactUsButtonContactUs{
    width: auto;
    margin:1% ;
    font-size: small;
    background-color: grey;
    border: 1px solid black;
}
.contactUsButtonContactUs:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.contactUsPrivacy{
    margin:1%;
    font-size: medium;
    background-color: grey;
    border: 1px solid black;
}
.contactUsPrivacy:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.contactUsTerms{
    border: 1px solid black;
    background-color: grey;
}
.contactUsTerms:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
.CopyRights{
    text-align: center;
    background-color: rgb(127, 127, 126);
    padding: 0.5%;
}