


.containerForButtons{
    
    margin-top: 0%;
    margin-left:25.5% ;
    top:0%;
    background-color:none;
    position: relative;
    padding: 1%;
    table-layout: -1;
   
}

.containerForButtons button {
    margin-top: 4%;
    margin-bottom: -4%;
    font-size: 100%;
    width: 15%;
    height: 35px;
    position: relative;
    display: inline;

}


.buttonHome{
    background-color: grey;
    border: 1px solid black;
}
.buttonHome:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.buttonProducts{
    background-color: grey;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}
.buttonProducts:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.buttonContactUs1{
    background-color: grey;
    border: 1px solid black;
}
.buttonContactUs1:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
}
.logo {
    position: relative;
     margin: -4%;
     margin-right: 1%;
     width: 15%;
     height: 40%;
     
}
.fa-user:before {
    font-size: x-large;
}
#acc{
    font-size: x-large;
    margin: 2%;
}
#cart{
    font-size: x-large;
}
.acc {
    position: relative;
    margin-bottom: 0%;
    width: 44px;
    height: 26px;
}
.cart {
    margin-bottom: 0%;
    position: relative;
 
    width: 44px;
    height: 36px;
}
.background2 {
    position: relative;
    table-layout:0;
    height: 55%;
    width: 100%;
    
    background-color: #c7dce7ff;
    table-layout: 1;
    margin-top:-1%;
    margin-top:-1%;
    margin-left:0%;
    
    background-size:100% ;
    background-repeat:repeat;
    
   
    
}

.button{
    
    border:1px solid rgb(117, 115, 115);
    background-color: grey;
}
.space{
    opacity:0;
    margin: 7%;
    margin-bottom: 0%;
    
}
.loginGrid{
    padding: 1%;
    display: grid;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
}
.login{
    margin:1%;
    
}
.inputEmail{
    text-align: center;
    margin-top: 10%;

}
.inputPassword{
    text-align: center;
    margin-top: 10%;
    display: block;
}
.loginButton{
    margin: 10%;
    display: inline;
    width: 50%;
}
.registerLink{
    cursor: pointer;
    color:black;
    display: block;
}
.contactUs1{
    display: grid;
    padding: 5%;
    position: relative;
    text-align: center;
    justify-content: center;
   
}
.contactUs2{
    display:grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
    
    
   
}
.gridContactUs{
    background-color:#4f5daaff;
    position: relative;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-areas: 
    "par par";
}
.contactUsH2{
    font-size: large;
    margin: 10% ;
}
.inputName{
    text-align: center;
    margin:2%;
    margin-left: 23%;
    margin-right: 20%;
}
.inputEmail2{
    text-align: center;
    margin:10%;
}
.inputTypeHere{
    text-align: center;
    margin:2%;
    height: 98%;
    margin-bottom: 32%;
}
.buttonContactUs{
    
    margin: 10%;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    background-color: rgb(69, 69, 69);
    color:white;
}
.contactUs1 input{
    background-color: rgba(173, 173, 173, 0.978);
    
}
.buttonContactUs:hover {
    transition: 0.4s;
    background-color: white;
    color: black;
}
.imgContactUs2{
    position: relative;
    width: 20%;
    margin: 0%;
    
}
.contactUsButtonHome{
    width: 15%;
    margin:1% ;
    font-size: small;
    
}
.contactUsButtonProducts{
    width: 15%;
    margin:1% ;
    font-size: small;
  
}
.contactUsButtonContactUs{
    width: 15%;
    margin:1% ;
    font-size: small;
    
}
.contactUsPrivacy{
    margin:1%;
    font-size: medium;
}
.contactUsTerms{
    margin: 0%;
}
.CopyRights{
    cursor: pointer;
    text-align: center;
    background-color: rgb(127, 127, 126);
    padding: 0.5%;
}
.form {
    display: grid;
    text-align: center;
}

.handleDelBtn {
    cursor: pointer;
}